<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Tab Icon info  -->
    <title>Stock Squirrel - Home</title>
    <link rel="shortcut icon" href="/static/squirrelbrown.png" />
    <!-- Javascript styling -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='/static/effects.js'></script>
    <!--- CSS styling (for later)-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container collapse navbar-collapse" id="navbarToggler">
        <a class="navbar-brand" href="{{ url_for('login') }}">
          <img src="/static/squirrelblue.png" width="30" height="30" class="d-inline-block align-top" alt="" />
          Stock Squirrel
        </a>
      </div>
    </nav>
    
    <br />

    <div class="container">
      <div class="card bg-light">
        <div class="card-body mx-auto" style="max-width: 400px;">
          <h4 class="card-title text-center">Create Account</h4>
          <form>
            <div class="form-group input-group">
              <input id="new_user" class="form-control" type="text" placeholder="Username" />
            </div>
            <div class="form-group input-group">
              <input id="new_password" class="form-control" type="password" placeholder="Password" />
            </div>
            <div class="form-group">
              <button id="insert_user_btn" class="btn btn-primary btn-block" onclick="call_insert_user()">Sign Up</button>
            </div>
          </form>
          <textarea id="error_msg" placeholder="Displays Error Message"></textarea>
        </div>
      </div>
    </div>

  </body>
</html>
