<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Tab Icon info  -->
    <title>Stock Squirrel - Home</title>
    <link rel="shortcut icon" href="static/squirrelbrown.png" />
    <!-- Javascript styling -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='/static/effects.js'></script>
    <!--- CSS styling (for later)-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="static/style.css" />
  </head>
  <body>
    <div class="container" margin=auto>
        <br />
        <h1>Create New User</h1><br />
        <input class='user' id='new_user' type='text'placeholder="Name"/><br />
        <input id='new_password' type='text' placeholder="Password" /><br />
        <button id='insert_user_btn' onclick='call_insert_user()'>Enter</button><br />
        <textarea id='error_msg'></textarea>
    </div>
  </body>
</html>
