<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Tab Icon info  -->
    <title>Stock Squirrel - User</title>
    <link rel="shortcut icon" href="/static/squirrelbrown.png" />
    <!-- Javascript styling -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src='/static/user_func.js'></script>
    <!--- CSS styling (for later)-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <div class="container" margin=auto>
        <br />
        <h1>User</h1><br />
        <textarea id='user_info_output' rows='20' cols='50'></textarea><br />
        <textarea id='user_tracked_stocks' row='20' cols='50'></textarea><br />
        <input id='new_password' type='text' placeholder="Password" /><br />
        <input id='confirm_password' type='text' placeholder='Confirm Password' /><br />
        <button id='user_btn' onclick='call_update_user_info()'>Enter</button><br />
        <a href='/home'>Return to home</a>
    </div>
  </body>
</html>
